<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Welcome. Create a room and then share the given session id with a friend
      so that they can join you
    </p>
    <form action="/numbersgame">
      <button type="submit" id="getId">Create room</button>
    </form>
    <form action="/numbersgame">
      <button type="submit" id="joinRoom">Join room</button>
    </form>
    <script src="/public/home.js"></script>
  </body>
</html>
