<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p>Session id: <%= playerSessionIdNumber %></p>
      <p id="text"><%= firstNumber %> + <%= secondNumber %></p>
      <input
        type="number"
        id="input"
        autocomplete="off"
        inputmode="numeric"
        pattern="[0-9]*"
      />
      <p>Score</p>
      <p id="score">0</p>
      <p>Timer</p>
      <p id="timer" contenteditable="plaintext-only" inputmode="numeric">30</p>
      <button id="reset">Reset</button>
    </div>
    <script src="public/index.js" type="module"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  </body>
</html>
