<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <p>Session id: <%= playerSessionIdNumber %></p>
    <p id="text"><%= firstNumber %> + <%= secondNumber %></p>
    <input
      type="number"
      id="input"
      autocomplete="off"
      inputmode="numeric"
      pattern="[0-9]*"
    />
    <p id="score">Score: 0</p>
    <p id="timer">Timer: 30</p>
    <script src="public/index.js" type="module"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  </body>
</html>
